body{
  background-color: grey;
}

p{
  text-align: center;
  background-color: black;
  padding: 12px;
  color: lavender;
  font-size: 24px;
}

h4{
  color: aqua;
}

h1{
  color: tan;
}

h2{
  color: brown;
  text-decoration: overline;
  }

h3{
  color: orange;
}

li{
  text-decoration: line-through;
  color: black;
}

*{
  font-family: fantasy;
}
